<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CameraBuddy" version="2.0.13" targetFramework="monoandroid90" />
  <package id="FilenameBuddy" version="2.0.14" targetFramework="monoandroid90" />
  <package id="GameTimer" version="2.3.0" targetFramework="monoandroid90" />
  <package id="MatrixExtensions" version="2.0.1" targetFramework="monoandroid90" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="monoandroid90" />
  <package id="PrimitiveBuddy" version="2.0.4" targetFramework="monoandroid90" />
  <package id="RandomExtensions.dmanning23" version="2.0.2" targetFramework="monoandroid90" />
  <package id="RenderBuddy" version="2.0.12" targetFramework="monoandroid90" />
  <package id="ResolutionBuddy" version="2.0.6" targetFramework="monoandroid90" />
  <package id="Vector2Extensions" version="2.0.3" targetFramework="monoandroid90" />
  <package id="XmlBuddy" version="2.0.8" targetFramework="monoandroid90" />
</packages>