<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CameraBuddy" version="2.0.10" targetFramework="net461" />
  <package id="DiffEngine" version="6.4.9" targetFramework="net461" />
  <package id="EmptyFiles" version="2.3.3" targetFramework="net461" />
  <package id="FilenameBuddy" version="2.0.8" targetFramework="net461" />
  <package id="GameTimer" version="2.2.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net461" />
  <package id="MatrixExtensions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.7.1.189" targetFramework="net461" />
  <package id="NUnit" version="3.13.2" targetFramework="net461" />
  <package id="PrimitiveBuddy" version="2.0.1" targetFramework="net461" />
  <package id="RandomExtensions.dmanning23" version="2.0.1" targetFramework="net461" />
  <package id="RenderBuddy" version="2.0.11" targetFramework="net461" />
  <package id="ResolutionBuddy" version="2.0.5" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.MediaFoundation" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.XAudio2" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net461" />
  <package id="Shouldly" version="4.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Vector2Extensions" version="2.0.2" targetFramework="net461" />
  <package id="XmlBuddy" version="2.0.1" targetFramework="net461" />
</packages>